body{
padding: 20px;  
   
}


.container{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
    width: 80%;
    min-width: 500px;
    height: 50%;
   
   
    font-family: Arial, Helvetica, sans-serif;
    border-style: solid;
}
.row{
    padding: 2px;
   
}
.col1{
    
    float: left;
    width: 25%;
   
   
} 
.col2{
    
    width: 75%;
    display: flex;
    justify-content: left;
    align-items: center;
   
}

h2{
    padding: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.flex-container{
display: flex;
flex-direction: column;
}

.right-justify{
    display: flex;
    justify-content:right ;

}
input[type="reset"]{
    background-color: rgb(173, 66, 16);
    text-align: center;
    
}
input[type="submit"]{
    background-color: rgb(4, 158, 4);
    text-align: center;
    
}
input[type="text"],input[type="file"]{
    height: 30px;
    width: 50%;
    text-align: center;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    border-style: solid;
    margin-top: 5px;
   
    
}
.button{
    height: 40px;
    width: 80px;
    font-size: medium;
    font-style: normal;
    margin: 10px;
    color: rgb(240, 237, 237);
}
label{
    margin-left: 10px;
}
a{
    margin-right: 10px;
}


.box{

    width: 80%;
    height: 50%;
    padding: 20px;
    

}
#table-places {
position: relative;
font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
width: 80%;
border-collapse: collapse;
background-color: #efd4bb;
text-align: center;
}
#table-places td,#table-places th{
padding:10px;
padding-right:10px;
border: 1px solid rgb(240, 237, 237);
}
td {
border: 1px solid rgb(240, 237, 237);
}
th{
background-color: black;
color: white;
}


#add-palce-button{
background-color: blue;
color: rgb(240, 237, 237);
border: 1 px;
width: 200px;
position: relative;
top: 10px;
border: 1px solid;
padding: 5px;
font-size: medium;
}
img{
width:300px ;
height: 200px;
margin: 10px;

}
.button-delete,.button-update{

width: 60px;
padding: 5px;
margin: 5px;
color: rgb(240, 237, 237);

}
.button-delete{
background-color: #fc1a19;
}

.button-update{
background-color: #4db051;


}